.DS_Store

node_modules
temp
.tmp
/dist
build
package
reports
internal
prod
VERSION
src/scripts

# Test output folders
output/
tmp/
bin/
output/
report/*

.log
debug.log

tests/screenshots/extension/*

.vscode
/package-lock.json
