@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Caveat:wght@400&family=Work+Sans:wght@300;400;500&display=swap');

$firacode: 'Fira Code', 'Courier New', Courier, monospace;
$caveat: 'Caveat', cursive;
$roboto: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$worksans: 'Work Sans', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

$green: #6ee7b7;
$red: #fda4af;
$grey: #94a3b8;
$lightgrey: #f8fafc;
$black: #374151;
$blue: #204062;
$soft: hsl(205deg, 35%, 95%);
