@import './_reset.scss';
@import './_mixins.scss';
@import './_variables.scss';
@import './_base.scss';


.ctrl-img {
  opacity: 0.5;
  filter: alpha(Opacity=50);

  &:hover {
    opacity: 1;
  }
}

.row:after {
  content: "";
  display: table;
  clear: both;
}